.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.lot
*.glo
*.glsdefs
*.ist
*.acn
*.lof
*.run.xml
*.synctex*
*.glg
*.glg-abr
*.glo-abr
*.gls
*.gls-abr
*.slg
*.slo
*.sls
*-glo
*-gls
*-glg
thesis.pdf
*.tdo
pdfa.xmpi
*.xmpdata
